{% extends 'base.html' %}

{% block title %}Adicionar Tarefa{% endblock %}

{% block content %}
<h2>Adicionar Tarefa</h2>
<div class="login-register">
        <form method="POST">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" required>
            
            <label for="data_limite">Data Limite:</label>
            <input type="date" name="data_limite">
            
            <label for="prioridade">Prioridade:</label>
            <select name="prioridade">
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select>
            
            <label for="categoria">Categoria:</label>
            <select name="categoria">
                <option value="Trabalho">Trabalho</option>
                <option value="Estudo">Estudo</option>
                <option value="Pessoal">Pessoal</option>
            </select>
            
            <button type="submit">Adicionar</button>
        </form>
</div>

{% endblock %}
