{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<h2>Cadastro</h2>
<div class="login-register">
    <div class="login-register1">
        <form method="POST" class="form">
            <input class="input" type="text" name="nome" required placeholder="Nome">
            <input class="input" type="email" name="email" required placeholder="Email">
            <input class="input" type="password" name="senha" required placeholder="Senha">
            
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
